<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include nav %>

    <form method="post">
        用户名：<input  type="text" id="username" name="username">
        密码： <input  type="password" id="pass" name="pass">
        <input type="submit" value="提交"/>
    </form>
</body>
</html>
